.navbar {
  color: white;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 90%;
  border-bottom: solid 1px var(--primary-color);
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  width: 50px;
  display: flex;
}

.home-container {
  width: 90%;
  margin: auto;
}

#restaurants-container {
  width: 45%;
  float: left;
  background-color: lightskyblue;
}

#bookmarks-container {
  width: 45%;
  float: left;
  background-color: rgba(135, 206, 250, 0.5294117647058824)
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}
