.navbar {
  color: white;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  width: 50px;
  display: flex;
}

.home-container {
  width: 100%;
  display: flex;
  margin: auto;
}

/* .restaurants-container {
  width: 100%;
  float: left;
}

.bookmarks-container {
  width: 100%;
  float: left;
} */

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}
