.navbar {
  color: white;
  background-color: cornflowerblue;
  display: flex;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  width: 50px;
  display: flex;
}

.container {
  max-width: 100%;
  display: flex;
}

.home-container {
  max-width: 100%;
  display: flex;
}

/* .restaurants-container {
  width: 100%;
  float: left;
}

.bookmarks-container {
  width: 100%;
  float: left;
} */

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}


.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

.full-stars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.empty-stars:before, .full-stars:before {
  content:"\2605\2605\2605\2605\2605";
  font-size: 14pt;
}

.empty-stars:before {
  -webkit-text-stroke: 1px #848484;
}

.full-stars:before {
  -webkit-text-stroke: 1px orange;
}

/* Webkit-text-stroke is not supported on firefox or IE */

/* Firefox */
@-moz-document url-prefix() {
  .full-stars {
      color: #ECBE24;
  }
}

/* IE */
/* <!--[if IE]> .full-stars {
  color: #ECBE24;
}
<![endif]--> */

